<head>
    <script>
        Date.prototype.getWeek = function() {
            var onejan = new Date(this.getFullYear(),0,1);
            return Math.ceil((((this - onejan) / 86400000) + onejan.getDay()+1)/7);
        }
        var weekday = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
        for (var i = 0; i<14; i++) {
            d = new Date(2015,0,i+1);
            console.log(d.getWeek() + ", " + weekday[d.getDay()]);
        }
    </script>
</head>