<!DOCTYPE html>
<html lang="en">
<head>
	<title>CodeAcross NYC - Mapping Stuff!</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>	
	<meta content="authenticity_token" name="csrf-param" />
	<meta content="HHNrJPPA/26BxzYQiNnaxlw5fDPbg9Joa54cylscM9M=" name="csrf-token" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="leaflet.js"></script>
	<style>
		#map { 
			height: 500px; 
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Mapping Taxi Data</h1>
		<h2>CodeAcross NYC</h2>
		<p>Last Refreshed: <%= data[:execution_time] %></p>
		<div id="map" data-dropoffs='<%= data[:dropoff_coords] %>'></div>
		<table class="table">
			<thead>
				<% data[:raw_data].first.split(',').each do |h| %>
					<th><%= h %></th>					
				<% end %>
			</thead>
			<tbody>
				<% data[:raw_data].each_with_index do |r, i| %>
					<% if i > 0 %>
						<tr>
						<% r.split(',').each do |cell| %>
								<td><%= cell %></td>
						<% end %>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</body>
</html>